<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.OrdersDao">
  <resultMap id="OrdersResult" type="org.lanqiao.entity.Orders">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="PEOPLE_NUMBER" jdbcType="DECIMAL" property="peopleNumber" />
    <result column="ORDER_DATE" jdbcType="DATE" property="orderDate" />
    <result column="ORDER_STATUS" jdbcType="VARCHAR" property="orderStatus" />
    <result column="ORDER_TOTAL_PRICE" jdbcType="FLOAT" property="orderTotalPrice" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="PACKAGE_ID" jdbcType="DECIMAL" property="packageId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PEOPLE_NUMBER, ORDER_DATE, ORDER_STATUS, ORDER_TOTAL_PRICE, USER_ID, PACKAGE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="OrdersResult">
    select 
    <include refid="Base_Column_List" />
    from ORDERS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ORDERS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.Orders">
    insert into ORDERS (ID, PEOPLE_NUMBER, ORDER_DATE, 
      ORDER_STATUS, ORDER_TOTAL_PRICE, USER_ID, 
      PACKAGE_ID)
    values (#{id,jdbcType=DECIMAL}, #{peopleNumber,jdbcType=DECIMAL}, #{orderDate,jdbcType=DATE}, 
      #{orderStatus,jdbcType=VARCHAR}, #{orderTotalPrice,jdbcType=FLOAT}, #{userId,jdbcType=DECIMAL}, 
      #{packageId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.Orders">
    insert into ORDERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="peopleNumber != null">
        PEOPLE_NUMBER,
      </if>
      <if test="orderDate != null">
        ORDER_DATE,
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS,
      </if>
      <if test="orderTotalPrice != null">
        ORDER_TOTAL_PRICE,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="packageId != null">
        PACKAGE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="peopleNumber != null">
        #{peopleNumber,jdbcType=DECIMAL},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=DATE},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalPrice != null">
        #{orderTotalPrice,jdbcType=FLOAT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="packageId != null">
        #{packageId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.Orders">
    update ORDERS
    <set>
      <if test="peopleNumber != null">
        PEOPLE_NUMBER = #{peopleNumber,jdbcType=DECIMAL},
      </if>
      <if test="orderDate != null">
        ORDER_DATE = #{orderDate,jdbcType=DATE},
      </if>
      <if test="orderStatus != null">
        ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="orderTotalPrice != null">
        ORDER_TOTAL_PRICE = #{orderTotalPrice,jdbcType=FLOAT},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="packageId != null">
        PACKAGE_ID = #{packageId,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.Orders">
    update ORDERS
    set PEOPLE_NUMBER = #{peopleNumber,jdbcType=DECIMAL},
      ORDER_DATE = #{orderDate,jdbcType=DATE},
      ORDER_STATUS = #{orderStatus,jdbcType=VARCHAR},
      ORDER_TOTAL_PRICE = #{orderTotalPrice,jdbcType=FLOAT},
      USER_ID = #{userId,jdbcType=DECIMAL},
      PACKAGE_ID = #{packageId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>