<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.ScenicSpotDao">
  <resultMap id="ScenicSpotResult" type="org.lanqiao.entity.ScenicSpot">
    <id column="id" jdbcType="DECIMAL" property="id" />
    <result column="address_id" jdbcType="DECIMAL" property="addressId" />
    <result column="scenic_spot_name" jdbcType="VARCHAR" property="scenicSpotName" />
    <result column=" scenic_spot_ticket_price" jdbcType="FLOAT" property="scenicSpotTicketPrice" />
    <result column=" scenic_spot_detail" jdbcType="VARCHAR" property="scenicSpotDetail" />
    <result column="scenic_spot__picture" jdbcType="VARCHAR" property="scenicSpotPicture" />
  </resultMap>
  <sql id="Base_Column_List">
    id, address_id, scenic_spot_name, " scenic_spot_ticket_price", " scenic_spot_detail", 
    scenic_spot__picture
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ScenicSpotResult">
    select 
    <include refid="Base_Column_List" />
    from TEAM.SCENIC_SPOT
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from TEAM.SCENIC_SPOT
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.ScenicSpot">
    insert into TEAM.SCENIC_SPOT (id, address_id, scenic_spot_name, 
      " scenic_spot_ticket_price", " scenic_spot_detail", 
      scenic_spot__picture)
    values (#{id,jdbcType=DECIMAL}, #{addressId,jdbcType=DECIMAL}, #{scenicSpotName,jdbcType=VARCHAR}, 
      #{scenicSpotTicketPrice,jdbcType=FLOAT}, #{scenicSpotDetail,jdbcType=VARCHAR}, 
      #{scenicSpotPicture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.ScenicSpot">
    insert into TEAM.SCENIC_SPOT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="scenicSpotName != null">
        scenic_spot_name,
      </if>
      <if test="scenicSpotTicketPrice != null">
        " scenic_spot_ticket_price",
      </if>
      <if test="scenicSpotDetail != null">
        " scenic_spot_detail",
      </if>
      <if test="scenicSpotPicture != null">
        scenic_spot__picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=DECIMAL},
      </if>
      <if test="scenicSpotName != null">
        #{scenicSpotName,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotTicketPrice != null">
        #{scenicSpotTicketPrice,jdbcType=FLOAT},
      </if>
      <if test="scenicSpotDetail != null">
        #{scenicSpotDetail,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotPicture != null">
        #{scenicSpotPicture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.ScenicSpot">
    update TEAM.SCENIC_SPOT
    <set>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=DECIMAL},
      </if>
      <if test="scenicSpotName != null">
        scenic_spot_name = #{scenicSpotName,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotTicketPrice != null">
        " scenic_spot_ticket_price" = #{scenicSpotTicketPrice,jdbcType=FLOAT},
      </if>
      <if test="scenicSpotDetail != null">
        " scenic_spot_detail" = #{scenicSpotDetail,jdbcType=VARCHAR},
      </if>
      <if test="scenicSpotPicture != null">
        scenic_spot__picture = #{scenicSpotPicture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.ScenicSpot">
    update TEAM.SCENIC_SPOT
    set address_id = #{addressId,jdbcType=DECIMAL},
      scenic_spot_name = #{scenicSpotName,jdbcType=VARCHAR},
      " scenic_spot_ticket_price" = #{scenicSpotTicketPrice,jdbcType=FLOAT},
      " scenic_spot_detail" = #{scenicSpotDetail,jdbcType=VARCHAR},
      scenic_spot__picture = #{scenicSpotPicture,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>